body {
    font-family: 'Roboto', sans-serif; 
    background-color: #0e141f;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
        width:80%
    
}

#userPrompt {
    align-self: center;
    align-items: center;
    width: 80%;
    height: 200px; 
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    font-size: 16px;
    background-color: #283040;
    color: #ffffff;
    resize: none;
    font-family: 'Roboto', sans-serif;
}
#userPrompt-container{
    width: 80%;
    padding-left: 25%;
    align-content: flex-end;
    flex-direction: row;
}

.radio-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 20px;
    margin-top: 4.5%;
}
.radio-container label {
    position: relative;
  
    cursor: pointer;
    font-size: 14px; /* Adjust font size for labels */
    line-height: 1.5;
    color: #ffffff;
}

div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 20px;
}


#response {
    width: 80%; /* Adjust width as needed */
    padding: 20px;
    background-color: #283040;
    border-radius: 5px;
    display: block;
    text-align: justify; 
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.4; 
}

button {
    padding: 12px 24px; /* Adjust padding */
    border: 2px solid #1db954; /* Add border */
    border-radius: 5px; /* Increase border-radius for a rounded look */
    background-color: transparent; /* Transparent background */
    color: #1db954; /* Button text color */
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Roboto', sans-serif; /* Futuristic font */
    margin: 8px; /* Add margin for spacing */
    
}


button:hover {
    background-color: #1db954; /* Background color on hover */
    color: #ffffff; /* Text color on hover */
    box-shadow: 0px 4px 8px rgba(29, 185, 84, 0.3); /* Add shadow on hover */
    transform: translateY(-2px); /* Add lift effect on hover */
}
button:active {
    transform: translateY(1px); /* Add a slight downward shift on click */
    box-shadow: none; /* Remove box shadow on click */
}

.conversation-item {
    padding: 0; /* Remove padding */
    border: none; /* Remove border */
    margin-bottom: 10px; /* Adjust spacing between conversation items */
}

#history {
    width: 80%; /* Make it as wide as the page */
    align-items: center;
    background-color: #283040;
    padding: 10px; /* Add some padding */
    overflow-y: hidden; /* Enable vertical scrollbar */
    overflow-x: hidden; /* Disable horizontal scrollbar */
    color: #ffffff; /* Text color */
    border: 2px solid #ffffff;
}
.conversation-history{
    align-items:center ;
}