body {
    font-family: 'Roboto', sans-serif; 
    background-color: #0e141f;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
        width:80%
    
}

#userPrompt {
    align-self: center;
    align-items: center;
    width: 80%;
    height: 200px; 
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    font-size: 16px;
    background-color: #283040;
    color: #ffffff;
    resize: none;
    font-family: 'Roboto', sans-serif;
}
#userPrompt-container{
    width: 80%;
    padding-left: 25%;
    align-content: flex-end;
    flex-direction: row;
}

.radio-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 20px;
    margin-top: 4.5%;
}
.radio-container label {
    position: relative;
  
    cursor: pointer;
    font-size: 14px; 
    line-height: 1.5;
    color: #ffffff;
}

div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 20px;
}


#response {
    width: 80%; 
    padding: 20px;
    background-color: #283040;
    border-radius: 5px;
    display: block;
    text-align: justify; 
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.4; 
}

button {
    padding: 12px 24px; 
    border: 2px solid #1db954; 
    border-radius: 5px; 
    background-color: transparent; 
    color: #1db954; 
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Roboto', sans-serif;
    margin: 8px; 
    
}


button:hover {
    background-color: #1db954;
    color: #ffffff; 
    box-shadow: 0px 4px 8px rgba(29, 185, 84, 0.3); 
    transform: translateY(-2px); 
}
button:active {
    transform: translateY(1px); 
    box-shadow: none;
}

.conversation-item {
    padding: 0;
    border: none; 
    margin-bottom: 10px; 
}

#history {
    width: 80%;
    align-items: center;
    background-color: #283040;
    padding: 10px; 
    overflow-y: hidden; 
    overflow-x: hidden; 
    color: #ffffff; 
    border: 2px solid #ffffff;
}
.conversation-history{
    align-items:center ;
}