code {
  width: fit-content;
}
#content {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;

}
h1 {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: #ffffff;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

#header h1 {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 160px;
  text-align: center;
  margin: auto;
  white-space: nowrap;
  padding-bottom: 13px;
}


body {
  display: flex;
  font-family: 'Roboto', sans-serif;
  margin-top: 0;
  padding-top: 0;
  background-color: #0e141f;
  color: #ffffff;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}



#input-container {
  align-items: left;
  display: flex;
  flex-direction: column;
  
  bottom: 30px;
  width: 99%;
}

.input-box {
  margin-left: 5%;
  min-width: 90%;
  width: 90%;
  min-height: 100px;
  font-size: 1rem;
  border-radius: 5px;
  background-color: #283040;
  color: #ffffff;
  resize: none;

}

.submit-button {
  margin-left: 5%;
  padding: 12px 24px;
  background-color: #a5dcb8;
  border: 2px solid #1db954;
  border-radius: 5px;
  color: #045c23;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;

}

.submit-button:hover {
  background-color: #1db954;
  color: #ffffff;
  box-shadow: 0px 4px 8px rgba(29, 185, 84, 0.3);

}

.submit-button:active {
  transform: translateY(1px);
  box-shadow: none;
  background-color: #059d3a;
}


#footer {
  flex-shrink: 0;
  background-color: #6bb7e9;
  width: 100%;
  padding-top:5px;
  
  bottom:0;
 

}

#chat-history {

  font-family: 'Roboto', sans-serif;
  padding: 0px;
  margin-left: 1%;
  margin-top: 2%;
  margin-bottom: 10%;
  font-size: 1rem;
  overflow-y: scroll;
  text-align: justify;
  max-width: 800px;
  font-family: 'Roboto', sans-serif;
  overflow-wrap: normal;
  word-wrap: normal;
  white-space: pre-wrap;
  height:100%;
}

p {
  margin: 1rem;
  width: fit-content;
}

#conversation-pair {
  display: flex;
  background-color: #283040;
  margin-top: 5px;
  border-radius: 5px;
  flex-direction: column;
  padding: 6px;
  font-family: 'Roboto', sans-serif;



}

#current-pair {
  font-family: 'Roboto', sans-serif;
  display: flex;
  margin-top: 10px;
  background-color: rgb(7, 139, 120);
  border-radius: 5px;
  flex-direction: column;
  padding: 6px;


}
