:root{
  white-space: pre-wrap;
}
code {
 width: fit-content;
}
body {
  font-family: 'Roboto', sans-serif;
  margin-top: 0;
  padding-top: 0;
  background-color: #0e141f;
  color: #ffffff;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "chat-history"
    "input-container"
    "footer";
  grid-template-rows: 40px 400px 100px 20px;
  grid-template-columns: 1fr;

}


#header {
  grid-area: header;
  background-color: rgb(44, 131, 208);

}

title {

  font-size: 2rem;
  display: flex;

}


#input-container {
  grid-area: input-container;
  padding: 5px;
  background-color: #d9e1e7;
  width: 95%;
  border-radius: 5px;
  margin-left: 1%;

}

.input-box {
  margin-top: 2%;
  margin-bottom: 2%;
  width: 99%;
  min-height: 100px;
  font-size: 1.2rem;
  border-radius: 5px;
  background-color: #283040;
  color: #ffffff;
  resize: none;

}

.submit-button {
  padding: 12px 24px;
  background-color: #a5dcb8;
  border: 2px solid #1db954;
  border-radius: 5px;
  color: #045c23;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 8px;

}

.submit-button:hover {
  background-color: #1db954;
  color: #ffffff;
  box-shadow: 0px 4px 8px rgba(29, 185, 84, 0.3);

}

.submit-button:active {
  transform: translateY(1px);
  box-shadow: none;
  background-color: #059d3a;
}

#footer {

  grid-area: footer;
  background-color: #6bb7e9;
  width: 100%;
  bottom: 0;

}

#chat-history {
  grid-area: chat-history;
  font-family: 'Roboto', sans-serif;
  padding: 0px;
  margin-left: 1%;
  margin-top: 2%;
  margin-bottom: 1%;
  font-size: 1rem;
  overflow-y: auto;
text-align: justify;
max-width: 100%;
font-family: 'Roboto', sans-serif;
overflow-wrap: normal;
word-wrap: normal;
white-space: pre-wrap;
}

p {
  margin: 1rem;
  width: fit-content;
}

#conversation-pair {
  display: flex;
  background-color: #283040;
  margin-top: 5px;
  border-radius: 5px;
  flex-direction: column;
  padding: 6px;

  font-family: 'Roboto', sans-serif;



}

#current-pair {
  font-family: 'Roboto', sans-serif;
  display: flex;
  margin-top: 10px;
  background-color: rgb(7, 139, 120);
  border-radius: 5px;
  flex-direction: column;
  padding: 6px;


}