#root {

  margin: 0 auto;
  padding: 0;
  text-align: center;
}
html{
  padding:0;
  margin:0;
}
body{
 
  margin:0;
  padding:0;
}
h1{
  padding:0;
  margin-top: 0;
}
h6{
  text-align: left;
}
.navbar{
  width:80vw ;
  position: fixed; 
  top:0;
  margin-top: 0;
  margin:0;
 background-color: rgb(250, 247, 231);
}
.footer{
  min-height: 15px; 
  position: fixed; 
  bottom: 0;
  width:max-content;
  background-color: antiquewhite;
}
.mainbody{
  
  background-color: rgb(234, 221, 205);
}
.input-box{
  
  height:100px;
   position: "absolute"; 
   bottom: "0";
   margin:0;
   margin-bottom: 4px;
   padding:0;
}

.chat{
  width:80vw ;
  min-height: 40vh;
 height:max-content;
  margin-bottom: 200px;
  text-align: justify;
}
